<a mat-button  href="register">Register</a>
<a mat-button  href="home">Home</a>
<a mat-button  href="admin-login">Logout</a>
<div class="container">
  <a routerLink="/getdetails" mat-raised-button class="buttons" color="primary">Users Details</a>
 </div>

 <!-- <mat-toolbar color="primary">
  <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  <span>Home Page</span>
  <a mat-button  href="register">Register</a>
  <a mat-button  href="home">Home</a>
  <a mat-button  href="admin-login">Logout</a>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar> -->
